{% extends "base.jinja" %}
{% block content %}
    <article id="home">
        <h1>Recipes</h1>
        <p>A collection of recipes that I've found over the years and I want to put in a single location</p>
        <div id="recipe-list">
            {% for name, url in items %}
                <a href="{{ url }}">
                    {{ name }}
                </a>
            {% endfor %}
        </div>
    </article>
{% endblock %}
