<{{ heading_level }}>
{{ heading }}
</{{ heading_level }}>
<ul>
    {% for item in items %}
        <li>
            {%- if use_checkbox -%}
                <label><input type=checkbox> <span>{{ item }}</span></label>
            {%- else -%}
                {{ item }}
            {%- endif -%}
        </li>
    {% endfor %}
</ul>

