{% extends "base.jinja" %}
{% block content %}
    <article>
        <h1>{{ title }}</h1>
        <p>Adapted from <a href="{{ source.link }}">{{ source.name }}</a></p>
        <p>{{ servings }}</p>
        <a href="../">Back</a>
        {% for id, section in sections %}
            <section id="{{ id }}">
                {{ section }}
            </section>
        {% endfor %}
    </article>
{% endblock %}
